$font-primmary: 'Poppins', sans-serif;
$theme-color: (
    "primary":rgb(247, 8, 8),
    "primary-hover":rgb(230, 11, 11),
    "dark":green,
    "text_color":white,
    "menu-bg":green,
    "b":black,

);
$color-animation: green;