@use "../abstract/variable" as var;
@use "../abstract/function" as func;

.about-area{
    padding: 8rem 20rem;
background-color:func.theme-color() ;
display: flex;
justify-content: center;
align-items: center;
margin-top: 11rem;
&--img{
    width: 35rem;
}
&--contents{
    color: white;
    h2{
        font-size: 3rem;
        margin-bottom: 10px;

    }
    p{
        line-height: 2;
        color: #edd9de;
        font-size: 1.1rem;
    }
}
}