
@keyframes color-change {
    0%{
        color: rgb(250, 13, 13);
    }
    30%{
        color: rgb(11, 251, 11);
    }
    60%{
        color: rgb(10, 238, 250);
    }
    100%{
        color: rgb(250, 11, 178);
    }
}